{% extends 'base.html' %}

{% block conteudo %}
<h1 class="mt-5">Lista de Colaboradores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Setor</th>
      <th>Ramal</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">Marcos Korbes Werle</a></td>
      <td>T.I.</td>
      <td>100</td>
      <td><a href="mailto:marcoskorbeswerle@hotmail.com">marcoskorbeswerle@hotmail.com</a></td>
    </tr>
    <tr>
      <td><a href="#">João da Silva</a></td>
      <td>Recursos Humanos</td>
      <td>110</td>
      <td><a href="mailto:joao.silva@email.com">joao.silva@email.com</a></td>
    </tr>
    <tr>
      <td><a href="#">José dos Santos</a></td>
      <td>Financeiro</td>
      <td>120</td>
      <td><a href="mailto:jose.santos@email.com">jose.santos@email.com</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}