{% extends 'base.html' %}

{% block conteudo %}
<br><br>

<h1>{{colaborador.nome_completo}}</h1>

  {% if colaborador.avatar %}
    <p>
      <img src="{{colaborador.avatar.url}}" style="max-width=250px; height: auto; border: 1px solid black">
    </p>
  {% endif %}

<dl>
  <dt>Cargo:</dt>
  <dd>{{colaborador.cargo}}</dd>

  <dt>Setor:</dt>
  <dd>{{colaborador.setor}}</dd>

  <dt>Ramal:</dt>
  <dd>{{colaborador.ramal}}</dd>

  <dt>E-mail:</dt>
  <dd>{{colaborador.email}}</dd>

  <dt>Data de Admissão:</dt>
  <dd>{{colaborador.data_admissao|date:'d/m/Y'}}</dd>

  <dt>Aniversário:</dt>
  <dd>{{colaborador.aniversario}}</dd>

  <dt>Descrição:</dt>
  <dd>{{colaborador.descricao}}</dd>

</dl>

{% endblock %}