<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">O que é este espaço?</h5>
          <p>
            Uma intranet é uma rede privada que utiliza tecnologias da internet para compartilhar 
            informações, dados e recursos entre os colaboradores de uma empresa, organização ou instituição. 
            A intranet serve como uma plataforma centralizada para a comunicação e colaboração interna, 
            permitindo que os usuários acessem informações importantes, documentos e aplicativos da empresa 
            de forma rápida e segura.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Encontrou algum problema?</h5>
  
          <p>
            Se você notar algum problema ao navegar em nossa Intranet, como páginas que não 
            carregam corretamente, links quebrados ou outras questões técnicas, por favor, 
            não hesite em entrar em contato conosco imediatamente. 
            <br>Você pode enviar um e-mail para nossa equipe de 
            suporte <a href="mailto:marcoskorbeswerle@hotmail.com?subject=Intranet">clicando aqui</a>.
            <br>
            Versão:<a target="_blank" href="https://docs.google.com/spreadsheets/d/1lAgLZPbKsL0ExT-lI0jUyM21MRBkopg1HXlJmau77p8/edit?usp=sharing">1.0.0 </a>
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Esta Intranet pertence a empresa: 
      <a class="text-dark" href="#">Sua Empresa</a>
    </div>
  </footer>