{% extends 'base.html' %}

{%block conteudo%}
<br>
<br>
<br>
<br>
<br>
<p class="font-weight-bold text-center h1">Agradecemos o relato descrito na ocorrência através do formulário que você preencheu.</p>
<br><br><br>
<p class="text-sm-left">
    Sabemos que sua contribuição é fundamental para nós e estamos comprometidos em garantir que tudo seja tratado
    com a devida atenção e seriedade. Por isso, nosso comitê de ética irá analisar o caso com cuidado e determinar
    as ações adequadas a serem tomadas. Agradecemos mais uma vez sua colaboração e estamos à disposição para
    esclarecer quaisquer dúvidas que você possa ter.</p>

{%endblock%}
